fastapi
uvicorn
pymongo
certifi
supabase
python-dotenv
python-jose[cryptography]
passlib
bcrypt
python-multipart
PyMuPDF
transformers
torch
accelerate
sentencepiece
huggingface_hub
bitsandbytes
pyotp
qrcode
Pillow
motor
python-docx
python-pptx
pytesseract
tiktoken
numpy
httpx
google-auth-oauthlib
google-api-python-client
opencv-python
torchvision